/* UNIVERSAL */
body {
    margin: 0;
    font-size: 22px;
    font-family: Helvetica, Arial, sans-serif;
    color: seashell;
    background-color: black;
    opacity: 0.9;
    text-align: center;
}

a {
    color: seashell;
}

h2, h3, h4 {
    margin: 0;
    padding: 10px;
}

main {
    position: relative;
    padding-top: 2rem;
}

.container {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
}


/* HEADER */
header {
    display: flex;
    position: fixed;
    z-index: 100;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid seashell;
    background-color: black;
    top: 0;
}

header img {
    height: 50px;
    width: auto;
    padding-left: 10px;
}

nav {
    padding-right: 10px;
}

nav li {
    text-align: right;
    display: inline;
    text-decoration: underline;
}

/* BANNER */
div.banner {
  width: 1200px;
  height: 700px;
  background-image: url('./images/img-mission-background.jpg');
  display: flex;
  align-items: center;
  margin: auto;
}

.banner .container {
    background-color: black;
    width: 100%;
    flex-flow: column wrap;
}

/* TEA OF THE MONTH */
.galleryitem {
    padding: 10px;
}

.galleryitem img{
    height: 200px;
    width: 300px;
}

/* LOCATIONS */
div.locations {
    width: 1200px;
    height: 500px;
    background-image: url('./images/img-locations-background.jpg');
    background-size: cover;
    display: flex;
    margin: auto;
    flex-flow: column wrap;
    justify-content: center;
}

.location {
    background-color: black;
    width: 300px;
    opacity: 1.0;
    padding: 10px;
    margin: 5px 20px;
    flex-basis: 280px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}